// Tables
.wp-block-table table {
	@extend .table;
	@extend .table-bordered;
}

// Block Quotes
.wp-block-quote {
	@extend .blockquote;
	cite {
		@extend .blockquote-footer;
	}
}


figure.wp-block-image, // Image captions
.wp-block-image > figure // Alternate/classic editor image captions
{
	@extend .figure;
	display: block;
	img {
		@extend .figure-img;
	}
	figcaption {
		@extend .figure-caption;
	}
}

// Wide alignments and covers.
body.understrap-no-sidebar {
	.alignwide,
	.alignfull,
	.wp-block-cover.alignwide,
	.wp-block-cover.alignfull {
		margin: 0 calc(50% - 50vw);
		max-width: 100vw;
		width: 100vw;

		.wp-block-cover__inner-container {
			@include make-container();
			@each $breakpoint, $container-max-width in $container-max-widths {
				@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
					max-width: $container-max-width;
				}
			}
		}
	}

	.alignwide,
	.wp-block-cover.alignwide {
		margin: 0 calc(50% - 45vw);
		max-width: 90vw;
		width: 100vw;
	}

	@media (max-width: 920px) {
		.alignwide,
		.wp-block-cover.alignwide {
			margin: 0 calc(50% - 48vw);
			max-width: 96vw;
			width: 100vw;
		}
	}
}

// Buttons
.wp-block-buttons {
	.wp-block-button {
		.wp-block-button__link {
			@if variable-exists('bootstrap4') {
				@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
			} @else {
				@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
			}
		}
		&:not(.is-style-outline) .wp-block-button__link {
			border: $btn-border-width solid transparent;
		}
	}
}


/*Page Title Block*/
.page-title-block {
    min-height: 450px;
    position: relative;
    display: flex;
    align-items: center;
	.text-block__header {
		z-index: 2;
		position: relative;	
		background: linear-gradient(
		90deg,
		rgba(218, 237, 255, 0.4) 0%,
		rgba(218, 237, 255, 0.4) 41%,
		rgba(218, 237, 255, 0) 100%
		) no-repeat padding-box;
		width: 100%;
    	padding: 2rem;
		color: $white;
		max-width: max-content;
		h1 {
			font-weight: 300 !important;
		}
	}
}
.page-title-block img.text-block__img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
	z-index: 1;
    height: 100%;
    width: 100%;
}
#breadcrumbs {
	font-size: 14px;
	font-weight: 500;
	a {
		color: $secondary;
		text-decoration: none;
	}
	span:before {
		color: $tertiary;
    	font-size: 10px;
	}
	span {    
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}
.page-title-block .text-block__heading {
    max-width: 767px;
}
/* USP Banner Block */
.usp-image svg,
.usp-image img {
	max-width: 100%;
	max-height: 100px; /* adjust as needed */
	width: auto;
	height: auto;
	display: inline-block;
}
.usp-image {
	overflow: visible;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px; /* fixed height container if needed */
}

/* Image Divider Block */
.photo-divider {
	position: relative;
}
.photo-divider img {
    min-height: 200px;
    object-fit: cover;
}
.photo-divider:before {
    position: absolute;
    content: '';
    display: block;
    background: rgba(255, 255, 255, .2);
    width: 100%;
    height: 100%;
}
/* Advert Block */

.image-container {
    position: relative;
    min-height: 400px;
	img {
		position: absolute;
    	object-fit: cover;
	}
}
/* Quote Block */
.pull-quote-text {
    font-size: clamp(1.375rem, 0.8036rem + 0.8929vw, 1.875rem);
    font-style: italic;
	color: $secondary;
	font-weight: 300;
}
.pull-quote-name {
	font-size: clamp(1rem, 0.8571rem + 0.2232vw, 1.125rem);
	font-weight: 500;
	text-transform: capitalize;
}
.pull-quote-block {
    min-height: 300px;
    display: flex;
    align-items: center;
	.align-items-stretch .pull-quote-text,
	.align-items-stretch .pull-quote-name{
		max-width: 564px;
		margin: auto;
	}
}

/* Testimonials Block */
.testimonial-slider-section {
	.ti-widget-container, 
	.ti-widget.ti-goog>.ti-widget-container>.ti-header, .ti-widget.ti-goog>.ti-widget-container>.ti-footer {
		background-color: transparent !important;
		box-shadow: none !important;
	}
}
.testimonial-content {
    font-size: clamp(1.125rem, 0.993rem + 0.4225vw, 1.5rem);
	font-weight: 300;
	font-style: italic;
	line-height: 1.6em;
	color: $secondary
}
.testimonial-author {
    font-size: clamp(1.125rem, 0.993rem + 0.4225vw, 1.5rem);
	font-weight: 500;
	color: $secondary
}
.slick-dots li {
	width: auto !important;
}
.slick-dots li button {
	border: 1px solid $tertiary !important;
    width: 17px !important;
    height: 17px !important;
	border-radius: 100%;
	&:before {
		display: none !important;
	}
}

.slick-dots li:hover button {
	background-color: $tertiary !important;
}
.slick-dots li.slick-active button {
	background-color: $tertiary !important;
	width: 37px !important;
	border-radius: 30px !important;
}
button.slick-prev.slick-arrow,
button.slick-next.slick-arrow {
    border: 1.5px solid $tertiary !important;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	&:hover {
		background-color: $tertiary !important;
		color: $white !important;
	}
}
.testimonial-slider {
	.slick-prev:before, .slick-next:before {
		color: $tertiary !important;
	}
	.slick-prev {
		left: 0 !important;
		&::before {
			content: "\e905" !important;
			font-family: 'icomoon' !important;
			opacity: 1 !important;
			padding-right: 3px;
		}
		&:hover::before {
			color: $white !important;
		}
	}
	.slick-next {
		right: 0 !important;
		&::before {
			content: "\e908" !important;
			font-family: 'icomoon' !important;
			opacity: 1 !important;
			padding-left: 3px;
		}
		&:hover::before {
			color: $white !important;
		}
	}

	.testimonial-item i {
		position: absolute;
		font-size: clamp(1.875rem, 1.4349rem + 1.4085vw, 3.125rem);
		color: $secondary;
	}
	.testimonial-item {
		padding: 1rem 6rem;
	}
	i.icon-speech-mark-open {
		top: 0;
		left: 0;
	}
	i.icon-speech-mark-close {
		right: 0;
		bottom: 0;
	}
	ul.slick-dots {
		display: flex;
		justify-content: end;
		position: relative;
		bottom: 0;
		margin-top: 2rem;
	}
	.slick-slide {
		padding-left: 75px;
		padding-right: 75px;
	}
	@include media-breakpoint-down(md) {
		.slick-slide {
			padding-left: 50px;
			padding-right: 50px;
		}
		.testimonial-item {
			padding: 1rem;
		}
		.testimonial-item i {
			position: relative;
		}
		.icon-speech-mark-open {
			margin-bottom: 1rem;
			display: flex;
		}
		i.icon-speech-mark-close {
			margin-top: 1rem;
			display: flex;
			justify-content: end;
		}
	}
}

/* Card Block */
.card-block {
	.card {
		img {
			border-radius: 0 !important;
			transition: transform 0.3s ease-in-out;
		}
		.card-img-wrapper {
			object-fit: cover;
			aspect-ratio: 1;
    		max-height: 300px;
			background: white;
			overflow: hidden;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
		.card-body {
			background-color: $primary;
			transition: background-color 0.3s ease-in-out;
		}
		&:hover {
			img {
				transform: scale(1.05);
				transition: transform 0.3s ease-in-out;
			}
			.card-body {
				background-color: $gray;
				transition: background-color 0.3s ease-in-out;
			}
		}
	}
	.card-title {
		font-size: clamp(1.25rem, 1.0739rem + 0.5634vw, 1.75rem);
		color: $secondary;
	}
	a {
		text-decoration: none;
		color: $secondary;
	}
}

/* Table Block */
tr {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background: transparent;
    border-bottom: 1px solid $secondary;
}
td, th {
    border: none;
    background: 0 0;
    padding: 1rem .5rem !important;
	font-weight: 500;;
	color: $secondary;
}
td {
	font-size: clamp(1rem, 0.956rem + 0.1408vw, 1.125rem);
}

/* Accordion Block */
.accordion-items__item__question {
    font-size: clamp(1.5rem, 1.3239rem + 0.5634vw, 2rem);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
	gap: 20px;
}
.accordion-items__item{
	border-bottom: solid 1px $secondary;
}
.accordion__answer {
    padding: 1rem 1rem 2rem;
}
.accordion-items__item__question {
  position: relative;
  cursor: pointer;
}
summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}
.accordion-items__item__question::after {
  	content: "\e908"!important;
	font-family: 'icomoon';
	border: 1.5px solid #bcaf9c !important;
    min-width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	right: 0;
	top: 50%;
    font-size: 20px;
	color: $tertiary;
	transform: rotate(90deg);
	transition: transform 0.3s ease;
}

/* Rotate arrow when <details> is open */
details[open] .accordion-items__item__question::after {
	transform: rotate(270deg);
	transition: transform 0.3s ease;
}


