h3.footer-title {
    font-size: clamp(1.125rem, 0.6964rem + 0.6696vw, 1.5rem);
    font-weight: normal;
    color: $tertiary;
}
#footer-menus {
    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin-bottom: .5rem;
            a {
                color: #363A41;
                text-decoration: none;
                &:hover {
                    color: $tertiary;
                }
            }
        }   
        @include media-breakpoint-down(lg) {
            margin-bottom: 20px;
        }
    }
}
#main-footer .company-name {
    color: #363A41;
}
#main-footer .address * {
    color: #363A41;
}
.directions a {
    color: #363A41;
    &:hover {
        color: $tertiary;
    }
}
#footer-image {
    max-height: 500px;
    border-bottom: 10px solid $primary;
    overflow: hidden;
    background-color: $tertiary;
    img {
        opacity: 0.8;
    }
}
#footer-menus img {
    max-height: 100px;
    @include media-breakpoint-down(md) {
        margin-bottom: 10px;
    }
}
#footer-branding,
#footer-branding .nap {
    @include media-breakpoint-down(lg) {
        @include media-breakpoint-up(md) {
            flex-flow: row;
            justify-content: space-between;
        }
    }
}

#wrapper-footer .echo-logo {
    display: inline-block;
    height: 13px;
    margin: -5px 0 0 0;
}