hr {
    opacity: 1;
    color: $secondary;
}
.btn {
    border: 1px solid $tertiary;
    border-radius: 5px;
    font-size: clamp(1rem, 0.956rem + 0.1408vw, 1.125rem);
    font-weight: 500;
    padding: .75rem 1.5rem;
    line-height: normal;
    &.btn-primary {
        background: #FAF6F0;
    }
    &:hover {
        background-color: #6889A3;
        color: #fff;
        border: 1px solid $tertiary;
    }
}

.block-buttons .btn {
    margin: 10px;
    &:first-child {
        margin-left: 0;
    }
}
.bg-gray {
    background-color: $gray;
}
.social-icons {
    display: flex;
    gap: 1rem;
    a {
        color: $secondary;
        font-size: 1.5rem;
        text-decoration: none;
        &:hover {
            color: $tertiary;
        }
    }
}
.phone-number {
    font-size: clamp(1.5rem, 1.3239rem + 0.5634vw, 2rem);
    color: $secondary;
    font-weight: 500;
    line-height: normal;
    a {
        color: $secondary;
        text-decoration: none;
    }
    span {
        display: block;
        color: $tertiary;
        font-size: 14px;
    }
}
.email-address {
    font-size: clamp(1rem, 0.8571rem + 0.2232vw, 1.125rem);
    color: $secondary;
    font-weight: 500;
    line-height: normal;
    a {
        color: $secondary;
        text-decoration: none;
    }
    span {
        display: block;
        color: $tertiary;
        font-size: 14px;
    }
}
#footer-branding {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    a:hover {
        color: $tertiary;
    }
}
.nap {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}


ul:not(.navbar-nav, .dropdown-menu, .menu, .social-icons, .slick-dots, .pagination) {
  list-style: none;
}

ul:not(.navbar-nav, .dropdown-menu, .menu, .social-icons, .slick-dots, .pagination) li {
  position: relative;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
}

ul:not(.navbar-nav, .dropdown-menu, .menu, .social-icons, .slick-dots, .pagination) li::before {
    content: '•'; /* Unicode bullet */
    position: absolute;
    left: 0;
    font-size: clamp(1.125rem, 0.993rem + 0.4225vw, 1.5rem);
    color: $secondary;
    line-height: normal;
    top: 0;
}

ol {
  counter-reset: item;
  list-style: none;
}

ol li {
  counter-increment: item;
  margin: 0.5em 0;
  position: relative;
  padding-left: 2rem;
}

ol li::before {
    content: counter(item);
    position: absolute;
    left: 0;
    top: 0;
    color: $secondary;
    font-weight: 500;
    font-size: clamp(1.125rem, 0.993rem + 0.4225vw, 1.5rem);
    line-height: normal;    
    border-right: 1px solid $primary;
    padding-right: .3rem;
    height: 100%;
    min-width: 22px;
}

/*product block*/
.product-feed .row {
    display: flex;
    flex-wrap: wrap;
}

.product-feed__item {
    display: flex;
    flex-direction: column;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.product-card__title {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.product-card__image {
    overflow: hidden;
    height: 250px;
    background: white;
    align-items: center;
}

.product-card__image img {
    transition: transform 0.4s ease;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-card__image:hover img {
    transform: scale(1.1);
}
.team-card_title {
    font-weight: 300;
}
.team-card_position {
    font-size: clamp(1.125rem, 0.993rem + 0.4225vw, 1.5rem);
    font-weight: 500;
}

img.card-img-top.wp-post-image {
    aspect-ratio: 2 / 1;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    border-bottom: 10px solid;
    border-radius: 0;
}
.post-card {
    border-radius: 0;
    border: 0;
    box-shadow: 0px 3px 6px #00000029;
}
.card-footer {
    background-color: white;
    border: 0;
}
small.post-date {
    font-weight: 500;
    font-size: clamp(1rem, 0.956rem + 0.1408vw, 1.125rem);
    color: $secondary;
}
.footer-btn {
    position: relative;
    .btn-container {
        z-index: 2;
        position: relative;
        background: white;
        width: max-content;
        margin: auto;
        padding: 1rem 2rem;
    }
}
.footer-btn:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #333;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
}
.post_title {
    max-width: 767px;
    margin: auto;
}
.nap-map iframe {
    width: 100%;
}
.nap-title {
    font-weight: 500;
    color: $tertiary;
}
.wpcf7 {
    max-width: 100%;
}
.form-control, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime], .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number], .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select, .wpcf7 textarea {
    border-radius: 5px;
    border: 1px solid $tertiary;
    margin-bottom: 1rem;
    font-size: clamp(1.125rem, 0.993rem + 0.4225vw, 1.5rem);
    color: $secondary;
    font-weight: 500;
    padding: .5rem 1rem;
}
textarea {
    height: 200px;
    resize: none;
}

/*HERO*/
#heroCarousel {
	position: relative;
}
.hero-rating {
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: 2rem;
    background: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.carousel .page-title-block .text-block__heading {
    max-width: 518px;
	font-size: clamp(3rem, 2.1429rem + 1.3393vw, 3.75rem);
}
.carousel .page-title-block:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
    opacity: .2;
    box-shadow: inset 0px 0px 99px #FFFFFF84;
}
.carousel .page-title-block {
	min-height: 75vh;
}

@include media-breakpoint-up(md) {
	.echo-menu-shortcode .acf-nav-menu .menu{
		flex-wrap: wrap;
	}
	.echo-menu-shortcode .acf-nav-menu .menu li {
		flex: 0 0 40%;
		padding: 0 2rem;
	}
}
@include media-breakpoint-down(md) {
    .echo-menu-shortcode .acf-nav-menu .menu {
        flex-flow: column;
    }
}

.text-image-block .container {
    border-bottom: 1px solid $secondary;
    &:last-child {
        border-bottom: 0;
    }
}

/*CookieYes*/

body .cky-consent-container {
    background: rgba(6, 22, 62, .6) !important;
}
.cky-notice-btn-wrapper {
    flex-flow: row-reverse !important;
}
.cky-consent-bar:before {
    content: '';
    background: url(../wp-content/uploads/2025/07/smiths-logo.png);
    width: 194px;
    height: 100px;
    display: block;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center;
}
.cky-consent-bar {
    display: flex;
    width: 650px !important;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 20px #00000069;
    border-radius: 0 !important;
}

/*Pagination*/
.pagination .page-link {
    background-color: #FAF6F0;
    color: #07163F;
    border-radius: 5px;
    border: 1px solid #BCAF9C;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    cursor: pointer;
    &:hover,
    &.current {
        background-color: #F8F8F800;
        color: #BCAF9C;
        border-radius: 5px;
        border: 1px solid #BCAF9C;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
ul.pagination {
    position: relative;
}
.pagination li {
    background-color: #fff;
    position: relative;
    z-index: 2;
    padding: 0 .5rem;
}
ul.pagination:before {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
    background: $secondary;
}

/*Background Image*/
.echo-block{
    position: relative;
    .container {
        z-index: 2;
        position: relative;
    }
    .echo-background {
        position: absolute;
        z-index: 1;
        &.position-top-left{
            top: 0;
            left: 0;
        }
        &.position-center-center{
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
        }
        &.position-top-center{
            top: 0;
            left: 0;
            right: 0;
        }
        &.position-bottom-center{
            bottom: 0;
            left: 0;
            right: 0;
        }
        &.position-center-left{
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
        &.position-center-right{
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
        &.position-top-right{
            top: 0;
            right: 0;
        }
        &.position-bottom-left{
            bottom: 0;
            left: 0;
        }
        &.position-bottom-right{
            bottom: 0;
            right: 0;
        }
    }
}
.ornament-left:before{
    background: url('../img/ornament-left.png');
    content: '';
    width: 15%;
    height: 300px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -150px;
    z-index: 2;
}
.ornament-right:before{
    background: url('../img/ornament-right.png');
    content: '';
    width: 15%;
    height: 300px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -150px;
    z-index: 2;
    right: 0;
    background-position: right;
}