body {
    font-family: 'Sofia Pro';
    font-weight: 300;
}
h1 {
    font-size: clamp(3rem, 2.1429rem + 1.3393vw, 3.75rem);
    font-weight: 300;
}
h2 {
    font-size: clamp(2.125rem, 1.125rem + 1.5625vw, 3rem);
    font-weight: 300;
}
h3 {
    font-size: clamp(1.5rem, 0.7857rem + 1.1161vw, 2.125rem);
    font-weight: 300;
}
th,
h4 {
    font-size: clamp(1.375rem, 1.2321rem + 0.2232vw, 1.5rem);
    font-weight: 300;
}
.text-block__subheading,
.subtitle {
    font-size: clamp(1.125rem, 0.8393rem + 0.4464vw, 1.375rem);
    font-weight: 300;
}